* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #111;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 900px;
    gap: 1em;
}

.btn { 
    width: 200px;
    background: #fff;
    color: #111;
    border-radius: 10px;
    font-size: 40px;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.buttons a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background: #111;
    border: 1px solid #fff;
    color: #fff;
}

